/*******NAV-BAR-CSS*******/

.nav-bar {
  width: 48rem;
  margin: auto;
  background-color: #ab1359;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #cdcdcd;
  border-radius: 3px;
}

.hamburger {
  padding-top: 30px;
}

.icon-nav {
  width: 100px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.nav-bar-container {
  border-bottom: 4mm ridge rgb(170, 50, 220, 0.6);
}

/*******SEARCH-FORM-CSS*******/

.form-search {
  width: 30rem;
  margin: auto;
  background-color: #fffad3;
  padding: 10px;
  margin-top: 20px;
}

.add-task {
  text-align: center;
}

.input-text {
  width: 300px;
  padding: 10px;
  margin: 5px;
}

/*******Task-Card*******/

.task {
  width: 30rem;
  padding: 10px;
  margin: auto;
  background: lightpink;
  margin-top: 2px;
}
